.strobe {
    transform-origin: bottom;
    animation: strobeStart 0.5s ease-out, strobe 1s infinite;
    animation-delay: 0s, 0.5s;
}
plate {
    border-bottom: solid rem(5) #ddd;
    background: white;
    border-radius: 50%;
}
#fancy:after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - rem(47));
    top: calc(50% - rem(44));
    height: rem(68);
    width: rem(74);
    border-radius: rem(60);
    border: solid rem(10) #009ff2;
    opacity: 0.4;
}
bento,
plate {
    box-shadow: 0 rem(6) 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: rem(100);
    height: rem(100);
    margin: 0 rem(10);
    position: relative;
}
plate:before {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - rem(32));
    top: calc(50% - rem(32));
    height: rem(65);
    width: rem(65);
    border-radius: 50%;
    border-top: solid rem(6) #ccc;
    opacity: 0.4;
    background: rgba(255, 255, 255, 1);
}

.data-hover {
    box-shadow: 0 0 0 6px rgba(0, 224, 75, 0.5);
}
.enhanced {
    border: 1px dashed rgba(0, 224, 75, 0.5);
    border-left: none;
    border-right: none;
    background-color: rgba(12, 240, 0, 0.1);
}

bento {
    height: 60px;
    background: rgb(139, 29, 29);
    border: solid 3px #49150f;
    border-width: 20px 2px;
}

orange,
apple {
    // border-radius: 50%;
    border-style: solid;
    border-width: 2px 4px 15px 4px;
    height: 60px;
    width: 60px;
    position: relative;
    margin: 20px 10px;
}

orange,
apple,
pickle {
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 10px;
    height: 60px;
}

orange,
apple,
pickle,
bento,
plate {
    transition: transform ease-out 0.2s;
}

orange,
apple {
    -webkit-border-radius: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px 4px 15px 4px;
    height: 60px;
    width: 60px;
    // position: relative;
    margin: 20px 10px;
}

bento orange,
bento apple,
plate orange,
plate apple {
    left: calc(50% - 33px);
    margin: 0;
    position: absolute;
}

bento orange.small,
bento apple.small,
plate orange.small,
plate apple.small {
    left: calc(50% - 23px);
    margin: 0;
    position: absolute;
}

orange,
apple,
pickle {
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 10px;
    height: 50px;
}

orange {
    background: rgb(255, 172, 18);
    border-color: #a2620f;
}
orange {
    z-index: 1000;
}

pickle {
    background: #179837;
    width: 25px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
    border: solid 2px #025a18;
    border-width: 2px 2px 9px 2px;
    margin: 20px 10px;
}

pickle.small {
    height: 40px;
    width: 18px;
    border-width: 1px 2px 6px 2px;
    margin: 30px 10px;
}

orange.small,
apple.small {
    width: 40px;
    height: 40px;
    border-width: 1px 2px 6px 2px;
    margin: 30px 10px;
}

apple {
    width: 60px;
    background: #d82c2c;
    border-color: #9e1717;
}

plate > apple:last-child,
plate > orange:last-child,
bento > apple:last-child,
bento > orange:last-child {
    top: calc(50% - rem(30));
}

plate > pickle:only-child,
bento > pickle:only-child {
    top: calc(50% - rem(35));
    left: calc(50% - rem(15));
    z-index: 99999;
    margin: 0;
    position: absolute;
}

@keyframes strobeStart {
    0% {
        transform: skew(0deg, 0deg) scaleY(1);
        animation-timing-function: ease-in;
    }
    40% {
        transform: skew(0deg, 0deg) scaleY(0.9);
        animation-timing-function: ease-out;
    }
}

@keyframes strobe {
    0% {
        transform: skew(4deg, 0deg) scaleX(1);
    }

    10% {
        transform: skew(1deg, 0deg) scaleY(0.9);
    }
    50% {
        transform: skew(-4deg, 0deg) scaleX(1);
    }
    60% {
        transform: skew(-1deg, 0deg) scaleY(0.9);
    }
    100% {
        transform: skew(4deg, 0deg) scaleX(1);
    }
}
