.menu {
    margin-left: rem(10);
    &__body {
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        transform: translateX(100%);
        width: rem(360);
        height: 100%;
        background-color: $second-background;
        transition: all 0.2s ease-in-out 0s;
        & h2 {
            padding: rem(20);
        }
    }
    &__list {
        padding-bottom: rem(150);
        & li {
            display: block;
            cursor: pointer;
            padding: rem(5) rem(12) rem(5) rem(22);
            color: #777;
            &:hover {
                background-color: #202020;
            }
        }
    }
}
.menu-open {
    .menu__body {
        transform: translateX(0);
    }
}

.icon-menu {
    display: block;
    position: relative;
    width: rem(26);
    height: rem(22);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
        content: '';
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: rem(2);
        background-color: $main-text;
        opacity: 0.25;
    }
    &:hover {
        & span,
        &::before,
        &::after {
            opacity: 0.5;
        }
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    span {
        top: calc(50% - rem(1));
    }
    .menu-open & {
        span {
            transform: scale(0);
        }
        &::before,
        &::after {
            opacity: 1;
        }
        &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
        }
        &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
        }
    }
}

.checkmark {
    position: relative;
    display: inline-block;
    margin-right: rem(14);
    width: rem(8);
    height: rem(13);
    opacity: 1;
    border: solid rem(3) white;
    border-width: 0 rem(3) rem(3) 0;
    opacity: 0.2;
    top: rem(-1);
    transform: rotate(40deg);
}
.level-number {
    opacity: 0.6;
    min-width: rem(24);
    display: inline-block;
}
.completed {
    opacity: 0.55;
    border: solid rem(3) #4cbb4a;
    border-width: 0 rem(3) rem(3) 0;
}
