* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $main-background;
    color: $main-text;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    .main {
        background-color: $main-background;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 0 rem(20);
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(20) 0;
            & a {
                display: flex;
                align-items: center;
                font-weight: 700;
                text-decoration: none;
                opacity: 0.5;
                color: #ddd;
                cursor: pointer;
                transition: opacity 0.3s ease 0s;
                & span {
                    margin-left: rem(10);
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
        &__game {
            padding: rem(10) 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: rem(30);
            flex: 1 1 30%;
        }
        &__code {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 70%;
        }
        &__footer {
            padding: rem(10) 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & a img {
                filter: invert(100%);
                opacity: 0.5;
                transition: opacity 0.3s ease 0s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .level {
        width: rem(320);
        background-color: $second-background;
        color: $second-text;
        padding: rem(20);
    }
}
.level {
    line-height: 160%;
    &__header {
        display: flex;
        align-items: center;
    }
    &__level {
        flex: 1 1 auto;
        display: flex;
    }
    &__checkmark {
        position: relative;
        top: 0;
        margin-left: rem(15);
    }
    &__progress {
        margin-top: rem(10);
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        & .progress {
            background: rgba(152, 152, 152, 0.7);
            width: 10%;
            height: rem(2);
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: rem(-6);
                top: rem(-3);
                height: rem(4);
                width: rem(4);
                border: solid rem(2) #2a231d;
                background: rgba(255, 255, 255, 0.5);
                border-radius: rem(5);
            }
        }
    }
    &__help {
        margin-top: rem(30);
    }
    &__selector {
        color: $main-text;
        margin: rem(10) 0;
        font-size: rem(18);
        font-weight: 700;
    }
    &__title {
        color: $main-text;
        margin: rem(10) 0;
        font-weight: 400;
        font-size: rem(16);
    }
    &__syntax {
        color: $main-text;
        display: inline-block;
        border-bottom: solid rem(2) $border-color;
        font-size: rem(28);
        font-weight: 400;
        padding: rem(8);
        background-color: $main-background;
        margin: rem(18) 0;
    }
    &__hint {
        color: $main-text;
        margin: rem(10) 0;
        font-size: rem(14) & strong {
            color: #aaa;
            background: $main-background;
            padding: rem(3) rem(6);
            margin: 0 rem(2);
            font-size: rem(13);
            font-weight: 400;
        }
    }
    &__examples {
        & h4 {
            color: $main-text;
            margin: rem(45) 0 rem(10) 0;
            padding: 0;
            font-size: rem(15);
        }
        & p {
            border-bottom: solid rem(1) $border-color;
            padding: rem(10) 0;
            color: #888;
            font-size: rem(15);
            & strong {
                color: #aaa;
                background: $main-background;
                padding: rem(3) rem(6);
                margin: 0 rem(2);
                font-size: rem(13);
                font-weight: 400;
            }
        }
        & p:last-child {
            border: none;
        }
    }
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    & a {
        margin-left: rem(5);
        position: relative;
        height: rem(30);
        width: rem(30);
        display: inline-block;
        opacity: 0.25;
        transition: opacity 0.2s ease-out;
        &::after {
            content: '';
            height: rem(18);
            width: rem(18);
            position: absolute;
            border: solid rem(2) white;
            border-width: rem(2) rem(2) 0 0;
            transform-origin: center center;
            top: rem(6);
            box-sizing: border-box;
        }
        &:hover {
            opacity: 0.4;
        }
        &:active {
            opacity: 1;
        }
    }
    &__previous {
        &::after {
            transform: rotate(-135deg);
            right: rem(2);
        }
    }
    &__next {
        &::after {
            transform: rotate(45deg);
            left: rem(2);
        }
    }
}

.code {
    &__wrapper {
        display: flex;
        padding: rem(20) rem(10);
        align-items: flex-start;
        width: 100%;
        line-height: 150%;
    }
    &__css {
        flex: 1 1 50%;
    }
    &__html {
        flex: 1 1 50%;
    }
    &__numbers {
        margin-top: rem(3);
        padding: rem(10);
        line-height: 151%;
        text-align: right;
        border-right: rem(1) solid $border-color;
    }
}

.css {
    &__main {
        min-width: rem(300);
        min-height: 100%;
        background-color: $css-background;
        display: flex;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: rem(1) solid $border-color;
        border-radius: rem(10) 0 0 0;
        border-bottom: none;
        border-right: none;
        background-color: $main-background;
        & :first-child {
            color: $second-text;
        }
        & h5 {
            padding: rem(10);
        }
    }
    &__field {
        padding: rem(10);
        flex: 1 1 auto;
    }
    &__action {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__input {
        flex: 1 1 auto;
        border: none;
        outline: none;
        margin-right: rem(10);
        padding: rem(4);
    }
    &__button {
        position: relative;
        background: #ddd;
        display: block;
        border-radius: rem(2);
        padding: rem(2) rem(7);
        color: #666;
        border: solid rem(3) #999;
        border-width: rem(1) rem(1) rem(6) rem(1);
        cursor: pointer;
        &:hover {
            top: rem(1);
            border-width: rem(1) rem(1) rem(5) rem(1);
        }
        &:active {
            top: rem(5);
            border-width: rem(1);
        }
    }
}
.html-code {
    &__main {
        min-width: rem(300);
        min-height: 100%;
        background-color: $html-background;
        border: rem(1) solid $border-color;
        display: flex;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: rem(1) solid $border-color;
        border-radius: 0 rem(10) 0 0;
        border-bottom: none;
        border-left: none;
        background-color: $main-background;
        & :first-child {
            color: $second-text;
        }
        & h5 {
            padding: rem(10);
        }
    }
    &__field {
        padding: rem(10);
        color: $second-text;
    }
}
.game {
    & h2 {
        font-size: rem(32);
    }
    &__wrapper {
        transform: translate3d(0, 0, 0);
        perspective: rem(400);
        text-align: center;
        position: relative;
        padding-top: rem(15);
        margin-bottom: rem(50);
    }
}

.table {
    &__main {
        transform-style: preserve-3d;
        outline: solid rem(1) transparent;
        margin: 0 auto 0 auto;
        min-height: rem(145);
        padding: rem(15);
        padding-bottom: rem(22);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        position: relative;
        white-space: nowrap;
    }
    &__wrapper {
        margin-top: rem(10);
        transform: rotateX(20deg);
        min-height: rem(145);
        transform-origin: bottom;
        z-index: 9999;
        position: relative;
        margin: rem(10) auto 0 auto;
        width: 100%;
    }
    &__surface {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 rem(40) rem(10) rgba(0, 0, 0, 0.2);
        background: url('img/wood.jpg');
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
    }
    &__edge {
        margin: 0 auto rem(10) auto;
        background: url('img/wood.jpg');
        height: rem(15);
        transform: rotateX(-40deg);
        transform-origin: top;
        z-index: 2;
    }
    &__leg {
        width: rem(24);
        height: rem(10);
        background: url('img/wood.jpg');
        position: absolute;
        top: rem(15);
        &:first-child {
            left: rem(20);
        }
        &:last-child {
            right: rem(20);
        }
    }
}
.loose-game {
    position: relative;
    animation: loose 0.1s infinite;
}
.win-game {
    position: relative;
    animation: win 0.5s 1;
}

.reset-progress:hover {
    background: rgba(255, 255, 255, 0.1);
}

.reset-progress {
    display: block;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: rem(-20);
    border: solid rem(2) rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    width: calc(100% - rem(40));
    color: rgba(255, 255, 255, 0.4);
    margin: 0 auto;
    padding: rem(9) 0 rem(11) 0;
    transition: all 0.3s ease 0s;
}
li.current {
    font-weight: bold;
    color: #aaa;
    background: rgba(255, 255, 255, 0.07);
}

tag {
    color: #aaa;
    background: $main-background;
    padding: rem(3) rem(6);
    margin: 0 rem(2);
    font-size: rem(13);
    font-family: menlo, monospace;
    font-weight: normal;
    &::before {
        content: '<';
    }
    &::after {
        content: '>';
    }
}

.hljs-tag {
    cursor: pointer;
}

pre code.hljs {
    padding-top: 3px;
    padding-left: 0;
    line-height: 150%;
}

@keyframes win {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(rem(5));
    }
    100% {
        transform: translateY(rem(-1000));
    }
}

@keyframes loose {
    0% {
        transform: translateX(rem(-10));
    }
    50% {
        transform: translateX(rem(10));
    }
    100% {
        transform: translateX(rem(-10));
    }
}

.input-strobe {
    background: rgba(62, 255, 210, 0.3);
    animation: input 0.5s infinite;
}

@keyframes input {
    50% {
        background: none;
    }
}
